/* Width */

$width: 728px;
$inline-width: 172px;

/* Colors */

$red: #EF483E;
$white: #fff;
$silver: #CFCFCF;
$semi-grey: #c4c4c4;
$grey: #717174;
$dark-light: #4B4B4F;
$semi-dark: #565656;
$dark: #343539;
$black: #000;

/* Font sizes */

$h1-size: 32px;
$legend-size: 20px;

$h1-desktop-size: 56px;
$legend-desktop-size: 24px;
$legend-mark-size: 16px;
$main-text-size: 15px;
$list-text-size: 14px;
$label-size: 13px;

/* Line heights */

$h1-line-height: 40px;
$legend-line-height: 24px;

$h1-desktop-line-height: 68px;
$legend-desktop-line-height: 30px;
$legend-mark-line-height: 20px;
$main-line-height: 18px;
$list-line-height: 17px;
$label-line-height: 16px;