.order-form{
    max-width: $width;
}

.order-form__order-details{
    border: none;
    margin-bottom: 24px;
    &--last{
        margin-bottom: 16px;
    }
    &--top{
        padding-top: 15px;
    }
}

@media(min-width: 992px){
    .order-form__order-details{
        &--top{
            padding-top: 18px;
            margin-bottom: 40px;
        }
    }
}
