.page-main{
    max-width: $width;
    &--position{
        padding: 0 16px 37px;
    }
}

@media(min-width: 992px){
    .page-main{
        &--position{
            padding-left: 170px;
        }
    }
}